
*{
    margin: 0px;
    padding: 0px;
}
h1
{
    color: rgb(37, 2, 131)!important;
    font-weight: bolder!important;
    letter-spacing: 3px;
    font-size: 30px;
    padding-bottom: 30px;
    
    text-shadow:2px 2px 3px rgb(4, 4, 78);
}
.form{
    border:3px solid rgb(2, 37, 53);
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    background-color:rgb(225, 241, 247)
    ;
   box-shadow: 10px 10px 3px gray;
}
.form-control{
    width: 10px;
    height: 20px;
}